<?xml version='1.0' encoding='utf-8'?>
<widget id="net.magmastone.PGP" versionCode="005" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PhoneGapProject</name>
    <description>
        The beginnings of a PhoneGapProject
    </description>
    <author email="me@magmastone.net" href="http://magmastone.net">
        Alex Roth
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" />

<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>

<preference name="load-url-timeout" value="360000" />
</widget>
